{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Sign in{% endblock %}

{% block content%}
<div class="article">
    <div class="article-content">
        <h2 class="article-title">Sign in</h2>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <div>{{ form.non_field_errors }}</div>
            {% for f in form %}
            <p class="form-input"><label for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p><br>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %} <br>
            <button class="btn default-btn-project" type="submit">Sign in</button>
        </form>
    </div>
</div>
{% endblock %}
