{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Edit profile{% endblock %}

{% block content%}
    <div class="article">
        <div class="article-content">
            <h2 class="article-title">Update profile</h2>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {% if profile.avatar %}
                  <img src="{{ profile.avatar.url }}" height=100 width=100><br><br>
                {% endif %}

                {{ user_form.as_p }} 
                {{ profile_form.as_p }} <br><br> 
                
                <button class="btn default-btn-project" type="submit">Save changes</button><br><br>
            </form>
        </div>
    </div>
{% endblock %}




