{% extends 'main/layout.html' %}
{% load static %}
{% block title %} About us {% endblock %}

{% block content %}
    <div class="article">
        <div class="article-content">
            <h2 class="article-title">About project:</h2>
            <b><p class="article-text">This project aims to help you achieve success in life. But this site is only a tool and all responsibility is primarily yours. That's why the project is called Improve Yourself.</p></b>
        </div> 
    </div>
{% endblock %}