{% extends 'main/layout.html' %}
{% load static %}
{% block title %}About us{% endblock %}

{% block content %}
    <div class="article">
        <div class="article-content">
            <a class="default-btn-project" href="{{request.META.HTTP_REFERER}}">← Back</a><br>
            <h2 class="article-title">Contact us</h2>
            <form method="post">
                {% csrf_token %}
                <div>{{ form.non_field_errors }}</div>
                {% for f in form %}
                <p><label class="form-input" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p><br>
                {% endfor %}
                <button class="btn default-btn-project" type="submit">Send mail</button><br>
            </form>
        </div> 
    </div>
{% endblock %}